.pokeCardContainer {
    background: rgb(52,43,207);
    background: linear-gradient(180deg, rgba(52,43,207,1) 0%, rgba(87,87,241,1) 10%, rgba(0,210,252,1) 65%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    
    border: solid red 3px;
    border-radius: 20px;
    margin: 20px;

    transition: transform 0.3s ease-in-out; /* Spin animation */
}
.pokeCardContainer:hover {
    transform: scale(1.1);
  }

.prueba{
    display: flex;
    flex-direction: column;
    
    align-items: center;
    width: 150px;
    height: 340px;
    text-decoration: none;
}

.prueba h2{
    font-weight: bolder;
    color: yellow;
    text-shadow: 2px 0 0 blue, -2px 0 0 blue, 0 2px 0 blue, 0 -2px 0 blue, 1px 1px blue, -1px -1px 0 blue, 1px -1px 0 blue, -1px 1px 0 blue, -2px 1px 0 blue;
    
    
    
}
.prueba img{
    width: 110px;
    height: 160px; 
    margin-left: auto;
    margin-right: auto;
}

.prueba h3{
    margin-block-end: 0;
    margin-block-start: 10px;
    
    width: 71px;
    text-align: center;
    font-size: medium;
    padding: 3px;
    border: solid 2px green;
    border-radius: 10px;
    color: rgba(0, 0, 255, 0.657);
    background-color: lightgreen;
    
}
/* .imagen{
    width: 110px;
    height: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
} */